.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c5e99;
  width: 280px;
  height: 280px;
  box-shadow: 9px 9px 0 rgba(0, 0, 0, 0.774);
}

.card-project.-blue {
  background-color: #4C5B84;
}