.main-section {
  background-color: rgb(119, 96, 223);;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #000;
}

.main-section .main-title {
  margin-bottom: 85px;
}

.main-section.-bgColor {
  background-color: #583dd1;
}

.main-section.-bdFirst {
  border-color: rgb(25, 5, 133);
}

.main-section.-second {
  padding-bottom: 50px;
}