body {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  background-color: rgba(153, 142, 202, 0.842);
}

body, h1, h2, h3 {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
}