.section {
  background-color: rgb(119, 96, 223);;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #000;
}

.section .main-title {
  margin-bottom: 60px;
}

.section.-bgColor {
  background-color: rgba(153, 142, 202, 0.842);
}

.section.-bdFirst {
  border-color: rgb(25, 5, 133);
}